---
import ThemeSwitcher from "./ThemeSwitcher.astro"
---
<div class="navbar bg-base-100">
    <div class="navbar-start">
        <a class="text-lg font-bold" href="">clim.dev</a>
    </div>
    <div class="navbar-end">
        <ThemeSwitcher/>
    </div>
    
</div>
