---
import presentation from "../data/presentacion"
---

<article class="flex flex-col gap-8 mt-5 mx-5 md:mx-2">
    <div class="text-3xl font-bold">
        {presentation.title}
    </div>
    <div class="py-2">
        <div class="text-lg">
            {presentation.description}
        </div>
    </div>
</article>
