---
import { Icon } from "astro-icon/components";
---

{
  /*<div>
    <select data-choose-theme class="select w-full max-w-xs">
        <option value="light">Light</option>
        <option value="dark">Dark</option>
    </select>
</div>*/
}
<label class="group swap swap-rotate">
  <input type="checkbox" value="forest" class="theme-controller" />
  <Icon name="mdi:weather-sunny" class="swap-off size-8 fill-current" />
  <Icon name="mdi:weather-night" class="swap-on size-8 fill-current" />
</label>
